PORT
MONGO_URI
DB_NAME
JWT_SECRET
JWT_ADMIN_SECRET
FE_ADMIN_URL
FE_CLIENT_URL
EMAIL_NAME
EMAIL
EMAIL_PASSWORD
EMAIL_HOST
EMAIL_PORT
CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET_KEY
STRIPE_SECRET_KEY